body {
    background-color: blanchedalmond;
}

h1 {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}

h2 {
    background-color: cadetblue;
    border-radius: 20px;
}

img {
    width: 200px;
    height: auto;
    border:cadetblue;
    border-radius: 20px;
    
} 


form {

}

button {

}

p {
    text-align: center;
    background-color: burlywood;
}

div {
    font-size: 100px;
    background-color: cadetblue;
    text-align: center;
}

.add{
    display: flex;
    flex-direction: column-reverse;
}