<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit your pair!!</h1>
    <form action="/jordans/<%= jordan._id %>?_method=PUT" method='POST'>
        <input type="text" value="<%= jordan.picture %>" name="picure">
        <input type="text" value="<%= jordan.name %>"name='name'>
        <input type="checkbox" name="worn" <%= jordan.worn ? 'checked' : '' %> >
        <button type="submit">Save changes</button>
    </form>
</body>
</html>