<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a pair!!</h1>
    <form action="/jordans/<%= jordan._id %>" method='POST'>
        <input type="text" name='name'>
        <input type="checkbox" name="worn">
        <input type="checkbox" name="creased">
        <button type="submit">Add that pair</button>
    </form>
</body>
</html>