<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a pair!!</h1>
    <form action="/jordans" method='POST'>
        <input type="url" name="picture" placeholder="add img url">
        <input type="text" name='name' placeholder="Name of J's">
        <input type="checkbox" name="worn">
        <button type="submit">Add that pair</button>
        <br>
        <a href="/jordans">Back</a>
    </form>
</body>
</html>